* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

h3,
p {
  margin: 10px 0px;
}

input {
  padding: 10px 16px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  position: relative;
  padding: 10px 16px;
  text-align: center;
  width: 100%;
}
